.my-thumb {
	max-height: 100px;
	max-width: 100px;
	min-height: 100px;
	min-width: 100px;
}

.profile-posts-down {
    margin-top: 10px;
}

.my-img {
	max-height: 614px;
	/* max-width: 614px; */
	min-height: 100px;
	cursor: zoom-in;
}

.pdf-img {
	max-height: 100px;
	min-height: 20px;
}
